.contenedor__lista {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    padding: 1rem;

}

.Contenedores {
    width: 100%;
    height: 100vh;
    background-color: red;
}